cmake-build-*/
build/
build_asan
*.o
*.exe

.idea/
.vscode/
*.swp
*.swo
*~
compile_commands.json
.clangd/

logs/

.DS_Store
Thumbs.db
/json.hpp
*.pem


.cache/neocmakelsp/tree_cmake_map_cache.json
.cache/neocmakelsp/project_completions_cache.json
.cache/neocmakelsp/tree_map_cache.json
.cache/neocmakelsp/project_jumpitems_cache.json
