cmake_minimum_required(VERSION 3.20)
project({{ .ProjectName }})

set(CMAKE_CXX_STANDARD 20)

include(FetchContent)

# Download Blaze Framework
FetchContent_Declare(
    blaze
    GIT_REPOSITORY https://github.com/Creed-Petitt/blaze.git
    GIT_TAG        main
)
FetchContent_MakeAvailable(blaze)

# Find Dependencies
find_package(Boost REQUIRED)

# Create the Executable
add_executable({{ .ProjectName }} src/main.cpp)

# Link Libraries
target_link_libraries({{ .ProjectName }} PRIVATE blaze::core blaze::postgres)
